<!DOCTYPE html>
<html lang="en" id="html">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="style/style_bestiary.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Alchemy</title>
</head>
<body id='body'>

    <form action="https://witcher-project.herokuapp.com/admin/alchemies" method="post" id="addForm">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br><br>
        <label for="type">Type:</label>
        <input type="text" id="type" name="type"><br><br>
        <label for="localization">Localization:</label>
        <input type="text" id="localization" name="localization"><br><br>
        <label for="acquisition">Acquisition:</label>
        <input type="text" id="acquisition" name="acquisition"><br><br>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description"><br><br>
        <input type="submit" value="Submit">
      </form>
      <script>
        window.open('http://www.yoururl.com', '_blank');
        </script>
      <p id="blank"></p>
</body>

<!-- <script src="scripts/add_alchemies.js"></script> -->
</html>
