<!DOCTYPE html>
<html lang="en" id="html">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="style/style-alchemy.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Countries</title>
</head>
<body id='body'>

  <div style="text-align: center; color: white;"> <h1>Add a new alchemy!</h1><br><br>

<div class="d-flex justify-content-center" >
  <div> </div>
  <form style="color: white;">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter name..">
    </div>
    <div class="form-group">
      <label for="type">Type: </label>
      <input type="text" class="form-control" id="type" placeholder="Type..">
    </div>    
    <div class="form-group">
      <label for="acquisition">Acquisition: </label>
      <input type="text" class="form-control" id="acquisition" placeholder="Acquisition..">
    </div>
    <div class="form-group">
      <label for="localization">Localization: </label>
      <input type="text" class="form-control" id="localization" placeholder="Localization..">
    </div>
    <div class="form-group">
      <label for="description">Description: </label><br>
      <textarea name="text" rows="10" cols="40" wrap="soft" id="description" placeholder="Description.." style="color: black;"></textarea>
    </div>
    <button id="addAL" class="btn btn-primary btn-lg">Add</button>
    
    <a href="country.html">
    <button id="bA" class="btn btn-primary btn-lg">Back to alchemy</button>
    </a>
  </form>
</div>
</body>

<script src="scripts/add_alchemy.js"></script>
</html>

