<!DOCTYPE html>
<html lang="en" id="html">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="style/style_log.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <b>
    <div class = "text"><h1>Witcher Bestiary</h1>
    <h2>Artur Spychalla & Paweł Wąsowski</h2>
    <h6>CDV 2020</h6></b>

    <div><a  href="index.html"><img src="https://www.freeiconspng.com/uploads/right-arrow-png-31.png" alt ="Entry" style="height: 150px;"></a></div>

</body>
</html>