<!DOCTYPE html>
<html lang="en" id="html">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="style/style_bestiary.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Monsters</title>
</head>
<body id='body'>

    <div class="d-flex justify-content-center" >
        <input type="text" name="name" id="monster_name">
        <button type="submit" class="btn btn-primary btn-lg" id="OneMonsterButton">Find monster</button>
        <a href="add_monster.html">
        <button type="submit" class="btn btn-primary btn-lg">Add monster </button>
        </a>
        <button type="submit" class="btn btn-primary btn-lg"><a href="index.html" style="color: white;">Back to main menu</a></button>
    </div>
    <div id="div_container"></div>
    
</body>

<script src="scripts/script-monsters.js"></script>
</html>
